<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @donation_kind.name %>
</p>

<%= link_to 'Edit', edit_donation_kind_path(@donation_kind) %> |
<%= link_to 'Back', donation_kinds_path %>
